/* External CSS */

/* HTML RESETLEME */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 80%;
    height: 400px;
    border: 1px solid black;
    
    display: flex;
    gap: 5px;
}

.child {
    width: 75px;
    height: 75px;
    background-color: lightblue;
    /* margin-top: 5px; */

    /*? Ana divin içindeki her bir elemana verilir  */
    /* display: inline-flex; */
    /*? Ana divin içindeki her bir elemana verilir  */
}